<div class="product-section col-md-12">
  <h2 class="product-name"><%= name %></h3>
  <img src="<%= image %>" alt="iPhone" class="img-thumbnail product-image">
  <p> <%= description %> </p>
  <div class="order">
    <a href="#product/<%= id %>" class="btn btn-lg btn-primary order-button pull-right">Zamow</a>
    <h3>Cena: <small><%=price %></small></h3>
  </div>
</div>